<a href="https://colab.research.google.com/github/fauziak/introR/blob/main/bookdowntutorial_R.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#1.2.1 Variable Assignment 
x <- 12

In [2]:
#Create vector of integers from 0 to 9
some_numbers <- c(0,1,2,3,4,5,6,7,8,9)

In [3]:
#Alternatively 
some_numbers <- c(0:9)
print(some_numbers)

 [1] 0 1 2 3 4 5 6 7 8 9

In [4]:
#1.3.2 R functions 
mean(some_numbers)
print(mean(some_numbers))

[1] 4.5

[1] 4.5

In [5]:
#1.4 Packages 
install.packages('tidyverse')
library(tidyverse)
install.packages('ggplot2')
install.packages('dplyr')
# install.packages('stats')

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

Warning message in system("timedatectl", intern = TRUE):
“running command 'timedatectl' had status 1”
── Attaching packages ─────────────────────────────────────── tidyverse 1.3.2 ──
✔ ggplot2 3.3.6      ✔ purrr   0.3.5
✔ tibble  3.1.7      ✔ dplyr   1.0.10
✔ tidyr   1.2.1      ✔ stringr 1.4.1
✔ readr   2.1.3      ✔ forcats 0.5.2
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()
Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

In [ ]:
#2.1 R Packages 
#ggplot2 - has functions for plotting data
#dplyr - has functions for cleaning/manipulating data
#stats - has functions for statistical calculations and random number generation

In [6]:
# 2.1.2 Loading packages in an R session 
library(tidyverse)

In [11]:
#2.2 Loading Data 
paygap <- read.csv('/content/UK Gender Pay Gap Data - 2020 to 2021.csv', header = TRUE)

In [12]:
head(paygap, n = 5)

  EmployerName                                         EmployerId
1 'PRIFYSGOL ABERYSTWYTH' AND 'ABERYSTWYTH UNIVERSITY' 19070
2 "RED BAND" CHEMICAL COMPANY, LIMITED                 16879
3 123-REG LIMITED                                      20308
4 1509 GROUP                                           15320
5 1825 FINANCIAL PLANNING AND ADVICE LIMITED           19795
  Address
1 Aberystwyth University, Penglais, Ceredigion, SY23 3FL
2 19 Smith's Place, Leith Walk, Edinburgh, EH6 8NU
3 5th Floor, The Shipping Building Old Vinyl Factory, 252 - 254 Blyth Road, Hayes, Middlesex, UB3 1HA
4 Royal Grammar School, High Street, Guildford, Surrey, GU1 3BB
5 Bow Bells House, 1 Bread Street, London, United Kingdom, EC4M 9HH
  PostCode CompanyNumber SicCodes      DiffMeanHourlyPercent
1 SY23 3FL RC000641                    10.3
2 EH6 8NU  SC016876      47730          0.5
3 UB3 1HA  5306504       63110         16.6
4 GU1 3BB  4104101       85200,\n85310 13.3
5 EC4M 9HH 1447544       64999,\n66190 44.5
  DiffMedianHourlyPercent DiffMeanBonusPercent DiffMedianBonusPercent ⋯
1  8.7                      NA                   NA                   ⋯
2  0.0                     7.0                  0.0                   ⋯
3 18.1                    58.1                 40.2                   ⋯
4 12.7                      NA                   NA                   ⋯
5 42.6                    74.1                 83.0                   ⋯
  FemaleUpperMiddleQuartile MaleTopQuartile FemaleTopQuartile
1 55.0                      58.0            42.0
2 92.0                      24.0            76.0
3 32.3                      82.0            18.0
4 50.0                      64.0            36.0
5 48.0                      78.9            21.1
  CompanyLinkToGPGInfo
1 https://www.aber.ac.uk/en/equality/genderpaygapreporting2021/
2
3 https://www.123-reg.co.uk/terms/gender-pay-report-explanatory-statement/
4 https://www.rgsg.co.uk
5 https://www.standardlifeaberdeen.com/en/careers/diversity-and-inclusion/addressing-gender-balance
  ResponsiblePerson                    EmployerSize
1 Elizabeth Treasure (Vice-Chancellor) 1000 to 4999
2 Philip Galt (Managing Director)      250 to 499
3 Richard Winslow (Director)           250 to 499
4 Kate Perceval (Bursar)               Less than 250
5 Julie Scott (Director)               250 to 499
  CurrentName
1 'PRIFYSGOL ABERYSTWYTH' AND 'ABERYSTWYTH UNIVERSITY'
2 "RED BAND" CHEMICAL COMPANY, LIMITED
3 123-REG LIMITED
4 1509 GROUP
5 ABRDN FINANCIAL PLANNING AND ADVICE LIMITED
  SubmittedAfterTheDeadline DueDate      DateSubmitted
1 FALSE                     10/6/21 0:00 4/15/21 9:57
2 FALSE                     10/6/21 0:00 9/30/21 11:25
3 FALSE                     10/6/21 0:00 10/5/21 11:02
4 FALSE                     10/6/21 0:00 9/7/21 16:12
5 FALSE                     10/6/21 0:00 12/17/20 7:59

In [24]:
colnames(paygap)
print(colnames(paygap))

 [1] "EmployerName"              "EmployerId"
 [3] "Address"                   "PostCode"
 [5] "CompanyNumber"             "SicCodes"
 [7] "DiffMeanHourlyPercent"     "DiffMedianHourlyPercent"
 [9] "DiffMeanBonusPercent"      "DiffMedianBonusPercent"
[11] "MaleBonusPercent"          "FemaleBonusPercent"
[13] "MaleLowerQuartile"         "FemaleLowerQuartile"
[15] "MaleLowerMiddleQuartile"   "FemaleLowerMiddleQuartile"
[17] "MaleUpperMiddleQuartile"   "FemaleUpperMiddleQuartile"
[19] "MaleTopQuartile"           "FemaleTopQuartile"
[21] "CompanyLinkToGPGInfo"      "ResponsiblePerson"
[23] "EmployerSize"              "CurrentName"
[25] "SubmittedAfterTheDeadline" "DueDate"
[27] "DateSubmitted"

 [1] "EmployerName"              "EmployerId"
 [3] "Address"                   "PostCode"
 [5] "CompanyNumber"             "SicCodes"
 [7] "DiffMeanHourlyPercent"     "DiffMedianHourlyPercent"
 [9] "DiffMeanBonusPercent"      "DiffMedianBonusPercent"
[11] "MaleBonusPercent"          "FemaleBonusPercent"
[13] "MaleLowerQuartile"         "FemaleLowerQuartile"
[15] "MaleLowerMiddleQuartile"   "FemaleLowerMiddleQuartile"
[17] "MaleUpperMiddleQuartile"   "FemaleUpperMiddleQuartile"
[19] "MaleTopQuartile"           "FemaleTopQuartile"
[21] "CompanyLinkToGPGInfo"      "ResponsiblePerson"
[23] "EmployerSize"              "CurrentName"
[25] "SubmittedAfterTheDeadline" "DueDate"
[27] "DateSubmitted"

In [14]:
dim(paygap)

[1] 10532    27

In [ ]:
#2.3.1 Data types in R
#character – e.g. 'abcd'
#integer – integer numbers, e.g. '2'
#numeric – decimal numbers, e.g. '2.21'
#complex – complex numbers, e.g. '2+2i'
#logical – either TRUE or FALSE

In [15]:
class(paygap)

[1] "data.frame"

In [16]:
class(paygap$DiffMeanHourlyPercent)

[1] "numeric"

In [18]:
# 3.1.1 Wrangling Data / Indexing 
# Cardiac dataset not found

In [19]:
# Extract element in 1st row and 3th column from 
 #cardiacdata[1,3]

[1] "Aberystwyth University, Penglais, Ceredigion, SY23 3FL"

In [55]:
# Extract rows 5-7 from columns 1-3
# cardiacdata[5:7,1:3]

In [54]:
# 3.1.2 Extracting 
# extract column 'bodytemp' and assign to new object 'temperatures'
# temperatures <- cardiacdata$bodytemp

In [53]:
#3.1.3 Selecting columns 
# select columns 'gender' and 'heartrate' and assign to new object 'heartrates'
# heartrates <- select(cardiacdata, gender, heartrate)

In [47]:
# 3.1.4 Renaming columns 
## append variable names with their respective units
# rename 'bodytemp' to 'bodytemp_degF'
# cardiacdata <- rename(cardiacdata, bodytemp_degF = bodytemp)

# rename 'heartrate' to 'heartrate_bpm'
# cardiacdata <- rename(cardiacdata, heartrate_bpm = heartrate)

#head(cardiacdata)

In [52]:
# 3.1.5 Adding/Changing Columns 
# add new column with body temperature in degrees celsius
# cardiacdata <- mutate(cardiacdata, bodytemp_degC = (bodytemp_degF - 32)*(5/9))

# change values in gender column to read "Female" and "Male" instead of 1 and 2
# cardiacdata <- mutate(cardiacdata, gender = ifelse(gender == 1, 'Female', 
                                            #ifelse(gender == 2, 'Male', NA)))

In [50]:
#head(cardiacdata)

In [49]:
# 3.1.6 Filtering Data 
#cardiacdata_female <- filter(cardiacdata, gender == 'Female')

In [ ]:
# 3.1.7 Piping 
#cardiacdata <- cardiacdata %>%
  #filter(gender == 'Female') %>%
  #select(-gender) %>%
  #mutate(bodytemp_Kelvin = bodytemp_degC + 273)

In [ ]:
# 3.1.8 Aggregating Data 
# cardiacdata_byGender <- cardiacdata %>%
# group_by(gender) %>%   
# summarize(avg_bodytemp_degF = mean(bodytemp_degF),
# avg_bodytemp_degC = mean(bodytemp_degC), 
# avg_heartrate_bpm = mean(heartrate_bpm))

In [ ]:
# 3.1.9 Dealing with missing data 
# some_numbers <- c(4,5,6,7,NA,8)
# mean(some_numbers)

# mean(some_numbers, na.rm = TRUE)

In [ ]:
# 3.2.1 Histograms 
# ggplot(data = cardiacdata, mapping = aes(x = bodytemp_degC)) + 
  #geom_histogram(bins = 20)

In [ ]:
# ggplot(data = cardiacdata, mapping = aes(x = bodytemp_degC)) + 
  # geom_histogram(bins = 20, aes(y = ..density..))

In [ ]:
# ggplot(data = cardiacdata, mapping = aes(x = bodytemp_degC)) + 
  # geom_histogram(bins = 20, aes(y = ..density..), fill = 'lightblue') +
  # xlab('body temperature (celsius)') +
  # ggtitle('distribution of body temperatures') +
 `# theme_light()

In [ ]:
# 3.2.2 Scatterplots

# ggplot(data = cardiacdata, mapping = aes(x = heartrate_bpm, y = bodytemp_degC)) + 
  # geom_point() +
  # theme_light()

In [ ]:
# ggplot(data = cardiacdata, mapping = aes(x = heartrate_bpm, y = bodytemp_degC, color = gender)) + 
  # geom_point() +
  # theme_light()

In [ ]:
# 3.2.3 Box & Whisker Plots
# ggplot(data = cardiacdata, mapping = aes(x = gender, y = bodytemp_degC)) +
  # geom_boxplot() +
  # xlab('gender') +
  # ylab('body temperature (celsius)') +
  # theme_light()